In [1]:
import pandas as pd
import numpy as np

In [2]:
crimes = pd.read_csv("Crimes_-_2001_to_present.csv").fillna(0)
crimes.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10000092,HY189866,03/18/2015 07:44:00 PM,047XX W OHIO ST,041A,BATTERY,AGGRAVATED: HANDGUN,STREET,False,False,...,28.0,25.0,04B,1144606.0,1903566.0,2015,02/10/2018 03:50:01 PM,41.891399,-87.744385,"(41.891398861, -87.744384567)"
1,10000094,HY190059,03/18/2015 11:00:00 PM,066XX S MARSHFIELD AVE,4625,OTHER OFFENSE,PAROLE VIOLATION,STREET,True,False,...,15.0,67.0,26,1166468.0,1860715.0,2015,02/10/2018 03:50:01 PM,41.773372,-87.665319,"(41.773371528, -87.665319468)"
2,10000095,HY190052,03/18/2015 10:45:00 PM,044XX S LAKE PARK AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,True,...,4.0,39.0,08B,1185075.0,1875622.0,2015,02/10/2018 03:50:01 PM,41.813861,-87.596643,"(41.81386068, -87.596642837)"
3,10000096,HY190054,03/18/2015 10:30:00 PM,051XX S MICHIGAN AVE,0460,BATTERY,SIMPLE,APARTMENT,False,False,...,3.0,40.0,08B,1178033.0,1870804.0,2015,02/10/2018 03:50:01 PM,41.800802,-87.622619,"(41.800802415, -87.622619343)"
4,10000097,HY189976,03/18/2015 09:00:00 PM,047XX W ADAMS ST,031A,ROBBERY,ARMED: HANDGUN,SIDEWALK,False,False,...,28.0,25.0,03,1144920.0,1898709.0,2015,02/10/2018 03:50:01 PM,41.878065,-87.743354,"(41.878064761, -87.743354013)"

In [3]:
crimes = crimes.drop(crimes[crimes['Community Area'] == 0].index)
crimes.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10000092,HY189866,03/18/2015 07:44:00 PM,047XX W OHIO ST,041A,BATTERY,AGGRAVATED: HANDGUN,STREET,False,False,...,28.0,25.0,04B,1144606.0,1903566.0,2015,02/10/2018 03:50:01 PM,41.891399,-87.744385,"(41.891398861, -87.744384567)"
1,10000094,HY190059,03/18/2015 11:00:00 PM,066XX S MARSHFIELD AVE,4625,OTHER OFFENSE,PAROLE VIOLATION,STREET,True,False,...,15.0,67.0,26,1166468.0,1860715.0,2015,02/10/2018 03:50:01 PM,41.773372,-87.665319,"(41.773371528, -87.665319468)"
2,10000095,HY190052,03/18/2015 10:45:00 PM,044XX S LAKE PARK AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,True,...,4.0,39.0,08B,1185075.0,1875622.0,2015,02/10/2018 03:50:01 PM,41.813861,-87.596643,"(41.81386068, -87.596642837)"
3,10000096,HY190054,03/18/2015 10:30:00 PM,051XX S MICHIGAN AVE,0460,BATTERY,SIMPLE,APARTMENT,False,False,...,3.0,40.0,08B,1178033.0,1870804.0,2015,02/10/2018 03:50:01 PM,41.800802,-87.622619,"(41.800802415, -87.622619343)"
4,10000097,HY189976,03/18/2015 09:00:00 PM,047XX W ADAMS ST,031A,ROBBERY,ARMED: HANDGUN,SIDEWALK,False,False,...,28.0,25.0,03,1144920.0,1898709.0,2015,02/10/2018 03:50:01 PM,41.878065,-87.743354,"(41.878064761, -87.743354013)"

In [4]:
crimes.dtypes

ID                        int64
Case Number              object
Date                     object
Block                    object
IUCR                     object
Primary Type             object
Description              object
Location Description     object
Arrest                     bool
Domestic                   bool
Beat                      int64
District                float64
Ward                    float64
Community Area          float64
FBI Code                 object
X Coordinate            float64
Y Coordinate            float64
Year                      int64
Updated On               object
Latitude                float64
Longitude               float64
Location                 object
dtype: object

In [5]:
crimes["Community Area"].astype(np.int64)

0          25
1          67
2          39
3          40
4          25
5          39
6          68
7          38
8          59
9          49
10         54
11         69
12         46
13         28
14         25
15         43
16         24
17         67
18         49
19         48
20         43
21         32
22         77
23         43
24         25
25         31
26         40
27         73
28         71
29         71
           ..
6609798    41
6609799    49
6609800    53
6609801     2
6609802     6
6609803    21
6609804    44
6609805    44
6609806    35
6609807    33
6609808    71
6609809    41
6609810    53
6609811    75
6609812     1
6609813    29
6609814     8
6609815    21
6609816    35
6609817     8
6609818    38
6609819    41
6609820    32
6609821     7
6609822    27
6609823    71
6609824    76
6609825    29
6609826    25
6609827    29
Name: Community Area, Length: 5993709, dtype: int64

In [6]:
crime_org= pd.DataFrame(crimes.pivot_table(crimes,index=["Community Area", "Primary Type"]))
crime_org.head()

                                      Arrest         Beat   District  \
Community Area Primary Type
1.0            ARSON                0.218391  2425.977011  24.000000
               ASSAULT              0.281756  2426.092617  24.000000
               BATTERY              0.250044  2426.003945  23.998705
               BURGLARY             0.061703  2426.605718  24.000000
               CRIM SEXUAL ASSAULT  0.166265  2426.315663  24.000000

                                    Domestic            ID   Latitude  \
Community Area Primary Type
1.0            ARSON                0.022989  5.660522e+06  42.011640
               ASSAULT              0.152873  6.684783e+06  41.871147
               BATTERY              0.361966  6.473039e+06  41.828879
               BURGLARY             0.002468  6.049225e+06  41.898046
               CRIM SEXUAL ASSAULT  0.098795  7.135471e+06  40.189210

                                    Longitude       Ward  X Coordinate  \
Community Area Primary Type
1.0            ARSON               -87.670950  48.068966  1.164262e+06
               ASSAULT             -87.377261  47.757114  1.160419e+06
               BATTERY             -87.288677  47.828260  1.159273e+06
               BURGLARY            -87.435162  47.487659  1.161526e+06
               CRIM SEXUAL ASSAULT -83.866882  48.002410  1.114165e+06

                                    Y Coordinate         Year
Community Area Primary Type
1.0            ARSON                1.947528e+06  2007.367816
               ASSAULT              1.941062e+06  2009.034034
               BATTERY              1.939144e+06  2008.687666
               BURGLARY             1.941863e+06  2007.982517
               CRIM SEXUAL ASSAULT  1.862973e+06  2009.677108

# Reported Crimes - Community Area by type per year

In [7]:
crime_data = pd.DataFrame(crimes.pivot_table(values=["ID"], index=["Community Area", "Primary Type", "Year"], aggfunc=np.sum))
crime_data

                                               ID
Community Area Primary Type      Year
1.0            ARSON             2002    16293172
                                 2003    31325781
                                 2004    50270173
                                 2005    20463097
                                 2006    49126336
                                 2007    17107498
                                 2008    12707744
                                 2009    20622116
                                 2010    45612126
                                 2011    57127478
                                 2012    43451954
                                 2013    45960408
                                 2014     9777048
                                 2015    40685409
                                 2016    20936898
                                 2017    10998141
               ASSAULT           2002   757069187
                                 2003  1051198017
                                 2004  1374273528
                                 2005  1716092815
                                 2006  1939526625
                                 2007  1828397694
                                 2008  2463374161
                                 2009  2424312309
                                 2010  2792196690
                                 2011  2301390049
                                 2012  2951490612
                                 2013  2786957066
                                 2014  2545021862
                                 2015  2416315876
...                                           ...
77.0           THEFT             2006  6509941191
                                 2007  6779858246
                                 2008  7344015986
                                 2009  6953441989
                                 2010  7605402688
                                 2011  8142931405
                                 2012  8688701745
                                 2013  8003730661
                                 2014  6922502666
                                 2015  6941890205
                                 2016  7592911505
                                 2017  9739052758
                                 2018  3041141669
               WEAPONS VIOLATION 2002    38662094
                                 2003    71829869
                                 2004    40082743
                                 2005    78739042
                                 2006   114745501
                                 2007    66428593
                                 2008    88832905
                                 2009    97907069
                                 2010   105827212
                                 2011   170603919
                                 2012   130249173
                                 2013   165152373
                                 2014   115057375
                                 2015   162041181
                                 2016   190969679
                                 2017   109454175
                                 2018    44987755

[31821 rows x 1 columns]

In [40]:
crime_data.to_csv("organized_crime_data.csv")

# Number of Reported Crimes per Commuity Area

In [42]:
#1) group by community area
#2) get numbers of crime type per community area

crime_area= pd.DataFrame(crimes.groupby("Community Area")["ID"].count())
crime_area.head()

                   ID
Community Area
1.0             91970
2.0             74711
3.0             87919
4.0             41995
5.0             36176

# Number of Reported Crimes per Primary Type from 2001-2018

In [15]:
crime_type= pd.DataFrame(crimes.groupby("Primary Type")["ID"].count())
crime_type.sort_values(by= "ID", ascending= False)

                                        ID
Primary Type
THEFT                              1260924
BATTERY                            1087821
CRIMINAL DAMAGE                     685380
NARCOTICS                           636960
OTHER OFFENSE                       370469
ASSAULT                             368126
BURGLARY                            349284
MOTOR VEHICLE THEFT                 276474
DECEPTIVE PRACTICE                  234583
ROBBERY                             227491
CRIMINAL TRESPASS                   172509
WEAPONS VIOLATION                    62181
PROSTITUTION                         59929
PUBLIC PEACE VIOLATION               43665
OFFENSE INVOLVING CHILDREN           41564
CRIM SEXUAL ASSAULT                  24065
SEX OFFENSE                          21867
INTERFERENCE WITH PUBLIC OFFICER     13964
GAMBLING                             13138
LIQUOR LAW VIOLATION                 11891
ARSON                                 9626
HOMICIDE                              8712
KIDNAPPING                            5405
INTIMIDATION                          3467
STALKING                              3007
OBSCENITY                              511
CONCEALED CARRY LICENSE VIOLATION      193
NON-CRIMINAL                           147
PUBLIC INDECENCY                       142
OTHER NARCOTIC VIOLATION               114
HUMAN TRAFFICKING                       40
NON - CRIMINAL                          38
RITUALISM                               15
NON-CRIMINAL (SUBJECT SPECIFIED)         7